@font-face {
    font-family: CenturyGothicRegular;
    src: url(../fonts/CenturyGothicRegular.ttf);
}
body {
   
  
	font-family: 'CenturyGothicRegular', sans-serif;
}
/*p {
    margin: 0 0 10px;
    line-height: 25px;
    letter-spacing: 2px;
}*/
a {
	color: #c02026;
	text-decoration: none;
}
a:hover {
	color: #c02026;
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}
header .container-inner {
    background: rgba(255, 255, 255, 0.52);
	padding: 10px;
}
.main-menu a {
    text-transform: uppercase;
    padding: 10px 20px;
    display: block;
    color: #000;
	text-decoration: none;
	  font-size: 18px;
}
.main-menu ul.nav {
    margin: 10px 0;
}
.main-menu .nav>li>a:hover, .main-menu .nav>li>a:focus,.main-menu  .nav-pills>.active>a,.main-menu  .nav-pills>.active>a:hover,.main-menu  .nav-pills>.active>a:focus {
    text-decoration: none;
    background-color: #c02026;
    color: #fff;
	  
}
.main-menu .nav>li>a:hover span, .main-menu .nav>li>a:focus span,.main-menu  .nav-pills>.active>a span,.main-menu  .nav-pills>.active>a:hover span,.main-menu  .nav-pills>.active>a:focus span {
    
    color: #000;
}
footer.footer .container-inner {
    background: #3c3837;
    color: #fff;
    padding: 20px;
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  
    font-weight: normal;
  
}
h2.line-1 {
    padding: 120px 10px 50px 10px;
}
h2.line-2 {
    padding-bottom: 75px;
}
main#content {
    padding: 25px;
	    position: relative;
}
.inner-home-box img {
    border: 1px solid #000;
    width: 100%;
    height: 180px;
}
a.readmore {
    color: #c02026;
    float: right;
    display: inline-block;
    margin-top: 25px;
}
span.red {
    color: #c02026;
}
.main-menu a span {
    color: #c02026;
}
.custom.banner p {
    margin-bottom: 0;
}
div#main .container {
    background: #fff;
}
.type-item-inner {
    position: relative;
	    padding: 10px;
}
.type-item {
    width: 20%;
    float: left;
}
.type-item-inner h3 {
    position: absolute;
    text-align: center;
    line-height: 30px;
    color: #fff;
	    width: 100%;
		    text-transform: uppercase;
}
.type-item-inner > img {
    width: 100%;
    height: 140px;
}
.type-description {
	display:none;
	 position: absolute;
    left: 0;
   
    z-index: 9999;
	padding: 0 25px;
}

.inner-type-description {
	background: #ccc;
    border-radius: 5px;
    border: 1px solid #c02026;
    padding:  25px;
	    box-sizing: border-box;
}
.type-item-inner:after {
    content: url(../images/arrow.png);
    padding-left: 40%;
    padding-top: 5px;
    /* position: absolute; */
    display: none;
}
img.symbol-type {
    width: 80px;
}
.type-item:hover .type-description, .type-item:hover .type-item-inner:after {
	
}
.navbar-fixed-top, .navbar-fixed-bottom {
      position: absolute;
}
.bottom-line {
    font-size: 34px;
    border: 1px solid #bf2026;
    border-left: 0;
    border-right: 0;
    padding: 30px 0;
    margin: 20px 25px;
   text-align: center;
	display: block;
	 
}
.type-item:hover .type-item-inner:after {
	
}
.mainbanner-vid {
    background-color: rgba(47, 65, 67, 0.4);
    text-align: center;
    height: 500px;
    min-height: 100%;
    background-attachment: scroll !important;
    background-size: cover !important;
    display: table;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.itemid-101 .mainbanner-vid {
	 height: 100vh;
}
#video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
.bannercontent {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    width: 100%;
}
.down-scroll {
    position: absolute;
    bottom: 40px;
    left: 48%;
    right: 48%;
    text-align: center;
}
h1.tagline {
    color: #fff;
    line-height: 100px;
}
.main-title {
    color: #fff;
    font-size: 36px;
    line-height: 35px;
}
.main-title span {
    color: red;
    
}
.main-title.inner {
    font-size: 60px;
	 position: absolute;
}
.bottom-right {
    text-align: right;
     right: 50px;
   position: absolute;
 
    bottom: 100px;
}
.main-title.top-right {
   
    top: 200px;
    right: 50px;
}
.main-title.left-middle {
   
    top: 200px;
    left: 50px;
}
.main-title.top-center {
    width: 100%;
    top: 100px;
	left: 0;
    text-align: center;
}
td.heading-table {
    width: 240px;
    padding-left: 70px;
    color: #c02026;
    font-size: 20px;
}
td.heading-table img {
    width: 30px;
    margin-right: 20px;
}
.table th, .table td {
    padding: 20px 10px;
   
    border-top: 0;
}
h2.text-center.line-inner {
    padding: 30px 0 60px 0;
}
ul.nav-child {
    display: none;
}
li:hover ul.nav-child {
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.52);
    color: #fff;
}
li:hover ul.nav-child a {
	color: white;
}
.type-item:hover {
        cursor: pointer;
}
.type-description.hide {
	display:none !important;
}
div#inner-banner img {
    width: 100%;
    height: 500px;
}
div#inner-banner {
    position: relative;
}
.inner-home-box {
    padding: 0px 25px;
}
.black {
	color: #000;
}
table.table.connect-us .bottom-line {
   
    margin: 20px 0;
  
}
span.conl {
    color: #fff;
    font-size: 25px;
    letter-spacing: 4px;
}
.main-title.bottom-right b {
    color: #c02026;
}
@media (min-width: 1200px) {
	table.table.connect-us {
    width: 1000px;
    margin: 0 auto;
}
	.row-fluid {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1123px;
}
}
@media (min-width: 991px) and (max-width: 1100px) {
	.bottom-line {
    font-size: 25px;

    line-height: normal;
}
.itemid-101 .mainbanner-vid {
    height: 580px;
}
.inner-home-box {
    padding: 0px 6px;
}
}
@media (min-width: 768px) and (max-width: 900px) {
		.type-item {
    width: 50%;
    float: left;
}
.itemid-101 .mainbanner-vid {
    height: 425px;
}
.bottom-right {
    text-align: right;
    right: 50px;
    position: absolute;
    bottom: 25px;
}
h1.tagline {
    color: #fff;
    line-height: 60px;
}
.inner-home-box {
    padding: 0;
}
.inner-home-box img {
    border: 1px solid #000;
    width: 100%;
    height: 140px;
}
h2.line-1 {
    padding: 25px 10px 10px 10px;
}
div#inner-banner img {
    width: 100%;
    height: 400px;
}
.bottom-line {
    font-size: 25px;

    line-height: normal;
}
	}
@media (max-width: 767px) {
	.type-item {
    width: 100%;
    float: left;
}
	span.conl {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}
	a.brand.pull-left {
    float: none;
    display: block;
    text-align: center;
}
.navbar.pull-right {
    position: absolute;
    top: 15px;
    right: 35px;
}
header .container-inner {
    background: rgba(255, 255, 255, 0.52);
    padding: 10px;
    height: 45px;
}
body {
    padding-right: 0;
    padding-left: 0;
}
.main-menu {
   
}
.nav-collapse .nav>li>a {
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
	 background: #000;
    text-align: center;
}
h1.tagline {
     color: #fff;
    line-height: 24px;
    font-size: 16px;
    padding-top: 60px;
}
.bannercontent {
    
    display: block;
   
}
.itemid-101 .mainbanner-vid {
    height: 185px;
}
.bottom-right {
    text-align: right;
    right: 25px;
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    line-height: 16px;
}
h2.line-1 {
    padding: 0;
    font-size: 18px;
    line-height: normal;
}
h2.line-2 {
    padding-bottom: 15px;
    font-size: 18px;
    text-align: center;
}
a.readmore {
    color: #c02026;
    float: right;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}
div#inner-banner img {
    width: 100%;
    height: 200px;
}
.main-title.inner {
    font-size: 25px;
    position: absolute;
}
h2.text-center.line-inner {
    padding: 0px 0 40px 0;
    font-size: 20px;
    line-height: normal;
}
.bottom-line {
    font-size: 20px;
   
    line-height: normal;
}
}

